.divTituloDestAlc,
.divContainerDestAlc{
    max-width: 450px;
    background: rgba(255, 255, 255, 0.918);
    margin-left: auto; /* Centralizar a div horizontalmente */
    margin-right: auto;
    
}

.divTituloDestAlc h2{
    padding: 2rem 1rem;
    font-size: 2rem;
}

.btnExcluirAlcance{
    background: red;
    color: var(--color-white);
    font-size: 15px;
    padding: 12px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.btnCancelarAlcanceDest{
    background: rgb(88, 153, 228);
    color: var(--color-white);
    font-size: 15px;
    padding: 12px 15px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid black;
    
}